@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background-color: rgb(36, 25, 25);
}

.videos {
    max-width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videos img {
    width: 300px;
    padding: 10px;
}


.text h2 {
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}

img:hover {
    box-shadow: rgba(0, 0, 0, 0.385) 5px 5px 5px 5px;
}